.main-title {
  font-family: sans-serif;
  color: var(--keralty-main-blue);
  font-size: 28px;
  font-weight: 700;
  text-align: center;
  font-style: normal;
  line-height: 35px;
  text-wrap: balance;
  margin-bottom: 2%;
}